body.ground
  audio
  button.play play
  p.about made with <3 (and 10 free hours) for Amanda Vilela.

- var n = 0
  ul.sky
    while n < 420
      li.star
      - n++;

  .heart
  
  .us
    - var n = 0
      ul.minihearts
        while n < 4
          li.miniheart
          - n++;    
    .me
      .head
        .hair
      .arm__left
      .arm__right
      .body
      .leg__left
      .leg__right
    .you
      .head
        .hair
      .arm__left
      .arm__right
      .body
        .dress
      .leg__left
      .leg__right
      
  .poem
    h1.title I <3 Every Pixel of You
    
    .estrofe
      p.verse just like these randomly-generated stars 
      p.verse are never the same
      p.verse each time you refresh this tab,
    
    .estrofe
      p.verse each time I look into your eyes
      p.verse I feel a lot of beautiful, unique things
      p.verse in just a single moment

    .estrofe    
      p.verse and although these feelings aren’t ever the same,
      p.verse just like the randomly-generated stars
      p.verse and we're also never the same,
      p.verse because of our human inherent ever-changing property,
      
    .estrofe
      p.verse somehow I know I’m looking through your same eyes
      p.verse because even if these stars keeps rendering over and over
      p.verse and we shape ourselves, day by day,

    .estrofe
      p.verse I know exactly how our love looks like
      p.verse and where to find it:
      p.verse in Our look